# Environment
.env
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Data (DAIC-WOZ must never be committed)
data/daic_woz/
data/chroma_db/
*.wav
*.mp4
*.avi
*.csv

# Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# docs
docs/

# dataset
dataset/


